<div class="jumbotron text-center">
	<h2 class="text-primary">Welcome to Clockish!</h2>
	<p class="text-muted">(Working title...)</p>
	<p class="">The goal of clockish was to provide a free, open-source project time-tracker that you can use, insert into your website, share with clients, and build upon to fit your needs.</p>
	<hr>
	<p class="text-center">Ready to get started?</p>
	<p><a class="btn btn-primary " href="https://github.com/colinjlacy/clocks">Check it out on GitHub</a>&nbsp;<a class="btn btn-success" ng-click="addNew()">Start a new project!</a></p>
</div>